[submodule "pybpod_projects"]
	path = pybpod_projects
	url = https://github.com/int-brain-lab/pybpod_projects.git
[submodule "Bonsai_workflows"]
	path = Bonsai_workflows
	url = https://github.com/int-brain-lab/Bonsai_workflows.git
[submodule "water-calibration-plugin"]
	path = water-calibration-plugin
	url = https://bitbucket.org/azi92rach/water-calibration-plugin.git
[submodule "pybpod"]
	path = pybpod
	url = https://bitbucket.org/fchampalimaud/pybpod.git
