state_machine_graph*
hardware_settings.yaml
iblrig_settings.yaml
pybpod_settings.yaml
.iblrig_params.json
.iblrig_params_bckp.json
settings/alyx
settings/visvis/
docs/build

pybpod_fixtures/*
Bonsai/*
Subjects/*
Bonsai/Bonsai.exe.settings
pybpod-api.log
iblrig.egg-info/

.DS_store
__pycache__/
\.vscode/
\.idea/
\.sonarlint/
\.pytest*
.pytest*
*.pyc
docs/_build
scratch/
src/
bin
obj
run.bat

XDG_CACHE_HOME/
app.log
/.idea/*
/venv/
*.autosave
iblrig/_version.py
*.code-workspace

.coverage*
coverage.xml

devices/camera_setup/*.layout
devices/camera_recordings/*.layout
