
pybpod_data/

*.code-workspace
*.sync-conflict*

\.vscode/

__pycache__/
*.pyc
docs/_*
docs/source/_*

sessions/
IBL/tasks/BurgessTask/__pycache__/
IBL/tasks/BurgessTask/notes_on_behavior

*.driveupload