__pycache__/
\.vscode/
\.idea/
\.sonarlint/
\.pytest*
.pytest*
*.pyc
Bonsai/*
#Bonsai/Packages
Bonsai/Bonsai.exe.settings
docs/_build
scratch/
src/
pybpod-api.log
iblrig.egg-info/
bin
obj
run.bat

XDG_CACHE_HOME/
app.log
/.idea/*