AnyQt==0.0.10
asn1crypto==0.24.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
colorama==0.4.1
colorlog==4.0.2
confapp==1.0.1
cryptography==2.6.1
cycler==0.10.0
Cython==0.29.6
dataclasses==0.6
globus-sdk==1.7.1
-e git+https://github.com/int-brain-lab/ibllib.git#egg=ibllib&subdirectory=python
idna==2.8
kiwisolver==1.0.1
logging-bootstrap==1.0.0
matplotlib==3.0.3
numpy==1.16.2
opencv-python==4.0.0.21
pandas==0.24.2
pge-plugin-terminal==0.1
pybpod==1.6.1
pybpod-api==1.6.2
pybpod-gui-api==1.2.1
pybpod-gui-plugin==1.6.0
pybpod-gui-plugin-alyx==0.2
pybpod-gui-plugin-rotaryencoder==0.1
pybpod-gui-plugin-session-history==1.4.0
pybpod-gui-plugin-stmdiagram==1.0.0
pybpod-gui-plugin-timeline==1.0.1
pybpod-gui-plugin-trial-timeline==1.0.0
pybpod-gui-plugin-waveplayer==0
pycparser==2.19
pydot==1.4.1
pyforms-generic-editor==1.5.1
PyForms-GUI==4.7
PyJWT==1.7.1
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==2.3.1
PyQt5==5.12.1
PyQt5-sip==4.19.15
PyQtWebEngine==5.12.1
pyserial==3.4
PySocks==1.6.8
python-dateutil==2.8.0
python-osc==1.7.0
pytz==2018.9
QScintilla==2.11.1
requests==2.21.0
safe-and-collaborative-architecture==0.2
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
sounddevice==0.3.13
urllib3==1.24.1
visvis==1.11.1
win-inet-pton==1.1.0
wincertstore==0.2
