asn1crypto==0.24.0
colorlog
colorama==0.4.1
Cython==0.29.6
globus-sdk==1.7.1
numpy<1.21,>=1.17
opencv-python==3.4.5.20
ONE-api
packaging==20.8
pandas
pybpod==1.8.2
pyOpenSSL==19.0.0
PySocks==1.6.8
python-dateutil~=2.8.2
python-osc==1.7.0
scipy~=1.7.3
sounddevice==0.3.13