pybpod-api==1.8.2
pybpod-gui-api==1.8.2
pybpod-gui-plugin==1.8.2
pybpod-gui-plugin-emulator==0.1.5
pybpod-gui-plugin-rotaryencoder==0.1.4
pybpod-gui-plugin-session-history==1.4.2
pybpod-gui-plugin-soundcard==0.1.6
pybpod-gui-plugin-stmdiagram==1.0.0
pybpod-gui-plugin-timeline==1.0.1
pybpod-gui-plugin-trial-timeline==1.0.0
pybpod-gui-plugin-waveplayer==1.0
asn1crypto==0.24.0
colorama==0.4.1
Cython==0.29.6
globus-sdk==1.7.1
packaging==20.8
pyOpenSSL==19.0.0
PySocks==1.6.8
python-osc==1.7.0
scipy~=1.7.3
sounddevice==0.3.13
opencv-python==3.4.5.20
numpy<1.21,>=1.17
pandas==0.25.3
python-dateutil~=2.8.2