<?xml version="1.0" encoding="utf-8"?>
<PackageConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Packages>
    <Package id="Rx-Interfaces" version="2.2.5" />
    <Package id="Rx-Core" version="2.2.5" />
    <Package id="Rx-Linq" version="2.2.5" />
    <Package id="Bonsai.Core" version="2.3.0" />
    <Package id="Bonsai.Design" version="2.3.0" />
    <Package id="Rx-PlatformServices" version="2.2.5" />
    <Package id="SvgNet" version="1.0.0" />
    <Package id="Bonsai.Arduino" version="2.3.0" />
    <Package id="Bonsai.Arduino.Design" version="2.3.0" />
    <Package id="openal.redist" version="2.0.7.0" />
    <Package id="OpenCV.Net" version="3.3.1" />
    <Package id="OpenTK" version="1.1.1589.5942" />
    <Package id="ZedGraph" version="5.1.7" />
    <Package id="Bonsai.Osc" version="2.3.0" />
    <Package id="Bonsai.Osc.Design" version="2.3.0" />
    <Package id="IronPython.StdLib" version="2.7.5" />
    <Package id="IronPython" version="2.7.5" />
    <Package id="jacobslusser.ScintillaNET" version="3.5.10" />
    <Package id="System.Linq.Dynamic" version="1.0.7" />
    <Package id="Bonsai.Scripting" version="2.3.0" />
    <Package id="Bonsai.Vision" version="2.3.0" />
    <Package id="OpenTK.GLControl" version="1.1.1589.5942" />
    <Package id="Bonsai.Vision.Design" version="2.3.0" />
    <Package id="Bonsai.Windows.Input" version="2.2.0" />
    <Package id="Bonsai.StarterPack" version="2.3.0" />
    <Package id="Bonsai.System.Design" version="2.3.0" />
    <Package id="Bonsai.Audio" version="2.3.2" />
    <Package id="AForge" version="2.2.5" />
    <Package id="AForge.Video" version="2.2.5" />
    <Package id="AForge.Video.DirectShow" version="2.2.5" />
    <Package id="Bonsai.Video" version="2.2.0" />
    <Package id="Bonsai.Design.Visualizers" version="2.3.2" />
    <Package id="Bonsai.Dsp" version="2.3.1" />
    <Package id="Bonsai.Dsp.Design" version="2.3.1" />
    <Package id="Bonsai.Video.Design" version="2.2.0" />
    <Package id="Bonsai.Shaders" version="0.18.0" />
    <Package id="Bonsai.Shaders.Design" version="0.18.0" />
    <Package id="FTD2XX_NET" version="1.0.14" />
    <Package id="Rhythm.Net" version="1.5.0" />
    <Package id="Bonsai.Ephys" version="2.4.0" />
    <Package id="Bonsai.Ephys.Design" version="2.4.0" />
    <Package id="Bonsai.Player" version="2.3.0" />
    <Package id="Bonsai.PulsePal" version="0.1.0" />
    <Package id="Bonsai.PulsePal.Design" version="0.1.0" />
    <Package id="Bonsai.ChampalimaudHardware" version="0.6.0" />
    <Package id="RealSense.Net" version="0.2.0" />
    <Package id="Bonsai.RealSense" version="0.2.0" />
    <Package id="Bonsai.NeuroSeeker" version="1.0.6" />
    <Package id="Bonsai.uEye" version="2.1.1" />
    <Package id="Microsoft.Kinect" version="2.0.1410.19000" />
    <Package id="Bonsai.Kinect" version="0.1.0" />
    <Package id="Bonsai.Harp" version="3.0.0" />
    <Package id="Bonsai.Harp.CF" version="1.4.0" />
    <Package id="Bonsai.Bpod" version="0.1.0-ctp1" />
    <Package id="Bonsai.Neuropix" version="0.1.0" />
    <Package id="Bonsai.VR" version="0.5.0" />
    <Package id="Bonsai.CLEyeMulticam" version="2.2.0" />
    <Package id="OpenTld.Net" version="0.1.0" />
    <Package id="Bonsai.Tld" version="0.1.0" />
    <Package id="Bonsai.FlyPad" version="0.3.0" />
    <Package id="Aruco.Net" version="2.0.0" />
    <Package id="Bonsai.Aruco" version="2.2.0" />
    <Package id="Bonsai.Aruco.Design" version="2.2.0" />
    <Package id="Bitalino.Net" version="1.1.1" />
    <Package id="Bonsai.Bitalino" version="0.1.0" />
    <Package id="Ode.Net.Double" version="0.1.3" />
    <Package id="Bonsai.Physics" version="0.1.0" />
    <Package id="Cmt.Net" version="0.1.0" />
    <Package id="Bonsai.Cmt" version="0.1.0" />
    <Package id="Bonsai.PhotonCounting" version="0.3.0" />
    <Package id="Bonsai.AlliedVision" version="1.0.5" />
    <Package id="Bonsai.System" version="2.3.3" />
    <Package id="Bonsai.Spinnaker" version="0.3.0" />
    <Package id="Bonsai.PointGrey" version="2.2.0-ivo2" />
    <Package id="Bonsai" version="2.3.2" />
    <Package id="Bonsai.Editor" version="2.3.1" />
  </Packages>
  <AssemblyReferences>
    <AssemblyReference assemblyName="Bonsai.Core" />
    <AssemblyReference assemblyName="Bonsai.Design" />
    <AssemblyReference assemblyName="Bonsai.Arduino" />
    <AssemblyReference assemblyName="Bonsai.Arduino.Design" />
    <AssemblyReference assemblyName="Bonsai.Osc" />
    <AssemblyReference assemblyName="Bonsai.Osc.Design" />
    <AssemblyReference assemblyName="Bonsai.Scripting" />
    <AssemblyReference assemblyName="Bonsai.Vision" />
    <AssemblyReference assemblyName="Bonsai.Vision.Design" />
    <AssemblyReference assemblyName="Bonsai.Windows.Input" />
    <AssemblyReference assemblyName="Bonsai.System.Design" />
    <AssemblyReference assemblyName="Bonsai.Audio" />
    <AssemblyReference assemblyName="Bonsai.Video" />
    <AssemblyReference assemblyName="Bonsai.Design.Visualizers" />
    <AssemblyReference assemblyName="Bonsai.Dsp" />
    <AssemblyReference assemblyName="Bonsai.Dsp.Design" />
    <AssemblyReference assemblyName="Bonsai.Video.Design" />
    <AssemblyReference assemblyName="Bonsai.Shaders" />
    <AssemblyReference assemblyName="Bonsai.Shaders.Design" />
    <AssemblyReference assemblyName="Bonsai.Ephys" />
    <AssemblyReference assemblyName="Bonsai.Ephys.Design" />
    <AssemblyReference assemblyName="Bonsai.Player" />
    <AssemblyReference assemblyName="Bonsai.PulsePal" />
    <AssemblyReference assemblyName="Bonsai.PulsePal.Design" />
    <AssemblyReference assemblyName="Bonsai.ChampalimaudHardware" />
    <AssemblyReference assemblyName="Bonsai.RealSense" />
    <AssemblyReference assemblyName="Bonsai.NeuroSeeker" />
    <AssemblyReference assemblyName="Bonsai.uEye" />
    <AssemblyReference assemblyName="uEyeDotNet" />
    <AssemblyReference assemblyName="Bonsai.Kinect" />
    <AssemblyReference assemblyName="Bonsai.Harp" />
    <AssemblyReference assemblyName="Bonsai.Harp.CF" />
    <AssemblyReference assemblyName="Bonsai.Bpod" />
    <AssemblyReference assemblyName="Bonsai.Neuropix" />
    <AssemblyReference assemblyName="Bonsai.VR" />
    <AssemblyReference assemblyName="Bonsai.CLEyeMulticam" />
    <AssemblyReference assemblyName="Bonsai.Tld" />
    <AssemblyReference assemblyName="Bonsai.FlyPad" />
    <AssemblyReference assemblyName="Bonsai.Aruco" />
    <AssemblyReference assemblyName="Bonsai.Aruco.Design" />
    <AssemblyReference assemblyName="Bonsai.Bitalino" />
    <AssemblyReference assemblyName="Bonsai.Physics" />
    <AssemblyReference assemblyName="Bonsai.Cmt" />
    <AssemblyReference assemblyName="Bonsai.PhotonCounting" />
    <AssemblyReference assemblyName="Bonsai.AlliedVision" />
    <AssemblyReference assemblyName="Bonsai.System" />
    <AssemblyReference assemblyName="Bonsai.Spinnaker" />
    <AssemblyReference assemblyName="Bonsai.PointGrey" />
    <AssemblyReference assemblyName="Bonsai" />
    <AssemblyReference assemblyName="Bonsai.Editor" />
  </AssemblyReferences>
  <AssemblyLocations>
    <AssemblyLocation assemblyName="System.Reactive.Interfaces" processorArchitecture="MSIL" location="Packages\Rx-Interfaces.2.2.5\lib\net45\System.Reactive.Interfaces.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Core" processorArchitecture="MSIL" location="Packages\Rx-Core.2.2.5\lib\net45\System.Reactive.Core.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Linq" processorArchitecture="MSIL" location="Packages\Rx-Linq.2.2.5\lib\net45\System.Reactive.Linq.dll" />
    <AssemblyLocation assemblyName="Bonsai.Core" processorArchitecture="MSIL" location="Packages\Bonsai.Core.2.3.0\lib\net45\Bonsai.Core.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Design.2.3.0\lib\net45\Bonsai.Design.dll" />
    <AssemblyLocation assemblyName="System.Reactive.PlatformServices" processorArchitecture="MSIL" location="Packages\Rx-PlatformServices.2.2.5\lib\net45\System.Reactive.PlatformServices.dll" />
    <AssemblyLocation assemblyName="SVG" processorArchitecture="MSIL" location="Packages\SvgNet.1.0.0\lib\net40\SVG.dll" />
    <AssemblyLocation assemblyName="Bonsai.Arduino" processorArchitecture="MSIL" location="Packages\Bonsai.Arduino.2.3.0\lib\net45\Bonsai.Arduino.dll" />
    <AssemblyLocation assemblyName="Bonsai.Arduino.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Arduino.Design.2.3.0\lib\net45\Bonsai.Arduino.Design.dll" />
    <AssemblyLocation assemblyName="OpenCV.Net" processorArchitecture="MSIL" location="Packages\OpenCV.Net.3.3.1\lib\net40\OpenCV.Net.dll" />
    <AssemblyLocation assemblyName="OpenTK" processorArchitecture="MSIL" location="Packages\OpenTK.1.1.1589.5942\lib\NET40\OpenTK.dll" />
    <AssemblyLocation assemblyName="ZedGraph" processorArchitecture="MSIL" location="Packages\ZedGraph.5.1.7\lib\net35-Client\ZedGraph.dll" />
    <AssemblyLocation assemblyName="Bonsai.Osc" processorArchitecture="MSIL" location="Packages\Bonsai.Osc.2.3.0\lib\net45\Bonsai.Osc.dll" />
    <AssemblyLocation assemblyName="Bonsai.Osc.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Osc.Design.2.3.0\lib\net45\Bonsai.Osc.Design.dll" />
    <AssemblyLocation assemblyName="IronPython" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\IronPython.dll" />
    <AssemblyLocation assemblyName="IronPython.Modules" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\IronPython.Modules.dll" />
    <AssemblyLocation assemblyName="IronPython.SQLite" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\IronPython.SQLite.dll" />
    <AssemblyLocation assemblyName="Microsoft.Dynamic" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\Microsoft.Dynamic.dll" />
    <AssemblyLocation assemblyName="Microsoft.Scripting.AspNet" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\Microsoft.Scripting.AspNet.dll" />
    <AssemblyLocation assemblyName="Microsoft.Scripting.Core" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net35\Microsoft.Scripting.Core.dll" />
    <AssemblyLocation assemblyName="Microsoft.Scripting" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\Microsoft.Scripting.dll" />
    <AssemblyLocation assemblyName="Microsoft.Scripting.Metadata" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\Microsoft.Scripting.Metadata.dll" />
    <AssemblyLocation assemblyName="IronPython.Wpf" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\IronPython.Wpf.dll" />
    <AssemblyLocation assemblyName="ScintillaNET" processorArchitecture="MSIL" location="Packages\jacobslusser.ScintillaNET.3.5.10\lib\net40\ScintillaNET.dll" />
    <AssemblyLocation assemblyName="System.Linq.Dynamic" processorArchitecture="MSIL" location="Packages\System.Linq.Dynamic.1.0.7\lib\net40\System.Linq.Dynamic.dll" />
    <AssemblyLocation assemblyName="Bonsai.Scripting" processorArchitecture="MSIL" location="Packages\Bonsai.Scripting.2.3.0\lib\net45\Bonsai.Scripting.dll" />
    <AssemblyLocation assemblyName="Bonsai.Vision" processorArchitecture="MSIL" location="Packages\Bonsai.Vision.2.3.0\lib\net45\Bonsai.Vision.dll" />
    <AssemblyLocation assemblyName="OpenTK.GLControl" processorArchitecture="MSIL" location="Packages\OpenTK.GLControl.1.1.1589.5942\lib\NET40\OpenTK.GLControl.dll" />
    <AssemblyLocation assemblyName="Bonsai.Vision.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Vision.Design.2.3.0\lib\net45\Bonsai.Vision.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Windows.Input" processorArchitecture="MSIL" location="Packages\Bonsai.Windows.Input.2.2.0\lib\net45\Bonsai.Windows.Input.dll" />
    <AssemblyLocation assemblyName="Bonsai.System.Design" processorArchitecture="MSIL" location="Packages\Bonsai.System.Design.2.3.0\lib\net45\Bonsai.System.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Audio" processorArchitecture="MSIL" location="Packages\Bonsai.Audio.2.3.2\lib\net45\Bonsai.Audio.dll" />
    <AssemblyLocation assemblyName="AForge" processorArchitecture="MSIL" location="Packages\AForge.2.2.5\lib\AForge.dll" />
    <AssemblyLocation assemblyName="AForge.Video" processorArchitecture="MSIL" location="Packages\AForge.Video.2.2.5\lib\AForge.Video.dll" />
    <AssemblyLocation assemblyName="AForge.Video.DirectShow" processorArchitecture="MSIL" location="Packages\AForge.Video.DirectShow.2.2.5\lib\AForge.Video.DirectShow.dll" />
    <AssemblyLocation assemblyName="Bonsai.Video" processorArchitecture="MSIL" location="Packages\Bonsai.Video.2.2.0\lib\net45\Bonsai.Video.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design.Visualizers" processorArchitecture="MSIL" location="Packages\Bonsai.Design.Visualizers.2.3.2\lib\net45\Bonsai.Design.Visualizers.dll" />
    <AssemblyLocation assemblyName="Bonsai.Dsp" processorArchitecture="MSIL" location="Packages\Bonsai.Dsp.2.3.1\lib\net45\Bonsai.Dsp.dll" />
    <AssemblyLocation assemblyName="Bonsai.Dsp.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Dsp.Design.2.3.1\lib\net45\Bonsai.Dsp.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Video.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Video.Design.2.2.0\lib\net45\Bonsai.Video.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Shaders" processorArchitecture="MSIL" location="Packages\Bonsai.Shaders.0.18.0\lib\net45\Bonsai.Shaders.dll" />
    <AssemblyLocation assemblyName="Bonsai.Shaders.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Shaders.Design.0.18.0\lib\net45\Bonsai.Shaders.Design.dll" />
    <AssemblyLocation assemblyName="FTD2XX_NET" processorArchitecture="MSIL" location="Packages\FTD2XX_NET.1.0.14\lib\net40\FTD2XX_NET.dll" />
    <AssemblyLocation assemblyName="libFrontPanel-csharp" processorArchitecture="MSIL" location="Packages\Rhythm.Net.1.5.0\lib\net40\libFrontPanel-csharp.dll" />
    <AssemblyLocation assemblyName="Rhythm.Net" processorArchitecture="MSIL" location="Packages\Rhythm.Net.1.5.0\lib\net40\Rhythm.Net.dll" />
    <AssemblyLocation assemblyName="Bonsai.Ephys" processorArchitecture="MSIL" location="Packages\Bonsai.Ephys.2.4.0\lib\net45\Bonsai.Ephys.dll" />
    <AssemblyLocation assemblyName="Bonsai.Ephys.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Ephys.Design.2.4.0\lib\net45\Bonsai.Ephys.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Player" processorArchitecture="MSIL" location="Packages\Bonsai.Player.2.3.0\lib\net45\Bonsai.Player.exe" />
    <AssemblyLocation assemblyName="Bonsai.PulsePal" processorArchitecture="MSIL" location="Packages\Bonsai.PulsePal.0.1.0\lib\net45\Bonsai.PulsePal.dll" />
    <AssemblyLocation assemblyName="Bonsai.PulsePal.Design" processorArchitecture="MSIL" location="Packages\Bonsai.PulsePal.Design.0.1.0\lib\net45\Bonsai.PulsePal.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.ChampalimaudHardware" processorArchitecture="MSIL" location="Packages\Bonsai.ChampalimaudHardware.0.6.0\lib\net45\Bonsai.ChampalimaudHardware.dll" />
    <AssemblyLocation assemblyName="RealSense.Net" processorArchitecture="MSIL" location="Packages\RealSense.Net.0.2.0\lib\net45\RealSense.Net.dll" />
    <AssemblyLocation assemblyName="Bonsai.RealSense" processorArchitecture="MSIL" location="Packages\Bonsai.RealSense.0.2.0\lib\net45\Bonsai.RealSense.dll" />
    <AssemblyLocation assemblyName="Bonsai.NeuroSeeker" processorArchitecture="X86" location="Packages\Bonsai.NeuroSeeker.1.0.6\lib\net45\Bonsai.NeuroSeeker.dll" />
    <AssemblyLocation assemblyName="Bonsai.uEye" processorArchitecture="MSIL" location="Packages\Bonsai.uEye.2.1.1\lib\net45\Bonsai.uEye.dll" />
    <AssemblyLocation assemblyName="uEyeDotNet" processorArchitecture="MSIL" location="Packages\Bonsai.uEye.2.1.1\lib\net45\uEyeDotNet.dll" />
    <AssemblyLocation assemblyName="Microsoft.Kinect" processorArchitecture="None" location="Packages\Microsoft.Kinect.2.0.1410.19000\lib\net45\Microsoft.Kinect.dll" />
    <AssemblyLocation assemblyName="Bonsai.Kinect" processorArchitecture="MSIL" location="Packages\Bonsai.Kinect.0.1.0\lib\net45\Bonsai.Kinect.dll" />
    <AssemblyLocation assemblyName="Bonsai.Harp" processorArchitecture="MSIL" location="Packages\Bonsai.Harp.3.0.0\lib\net45\Bonsai.Harp.dll" />
    <AssemblyLocation assemblyName="Bonsai.Harp.CF" processorArchitecture="MSIL" location="Packages\Bonsai.Harp.CF.1.4.0\lib\net45\Bonsai.Harp.CF.dll" />
    <AssemblyLocation assemblyName="Bonsai.Bpod" processorArchitecture="MSIL" location="Packages\Bonsai.Bpod.0.1.0-ctp1\lib\net45\Bonsai.Bpod.dll" />
    <AssemblyLocation assemblyName="Neuropix.Net" processorArchitecture="X86" location="Packages\Bonsai.Neuropix.0.1.0\build\net45\bin\x86\Neuropix.Net.dll" />
    <AssemblyLocation assemblyName="Bonsai.Neuropix" processorArchitecture="MSIL" location="Packages\Bonsai.Neuropix.0.1.0\lib\net45\Bonsai.Neuropix.dll" />
    <AssemblyLocation assemblyName="Bonsai.VR" processorArchitecture="MSIL" location="Packages\Bonsai.VR.0.5.0\lib\net45\Bonsai.VR.dll" />
    <AssemblyLocation assemblyName="Bonsai.CLEyeMulticam" processorArchitecture="X86" location="Packages\Bonsai.CLEyeMulticam.2.2.0\lib\net45\Bonsai.CLEyeMulticam.dll" />
    <AssemblyLocation assemblyName="OpenTld.Net" processorArchitecture="Amd64" location="Packages\OpenTld.Net.0.1.0\build\net45\bin\x64\v110\OpenTld.Net.dll" />
    <AssemblyLocation assemblyName="OpenTld.Net" processorArchitecture="X86" location="Packages\OpenTld.Net.0.1.0\build\net45\bin\x86\v110\OpenTld.Net.dll" />
    <AssemblyLocation assemblyName="Bonsai.Tld" processorArchitecture="MSIL" location="Packages\Bonsai.Tld.0.1.0\lib\net45\Bonsai.Tld.dll" />
    <AssemblyLocation assemblyName="Bonsai.FlyPad" processorArchitecture="MSIL" location="Packages\Bonsai.FlyPad.0.3.0\lib\net45\Bonsai.FlyPad.dll" />
    <AssemblyLocation assemblyName="Aruco.Net" processorArchitecture="Amd64" location="Packages\Aruco.Net.2.0.0\build\net45\bin\x64\v110\Aruco.Net.dll" />
    <AssemblyLocation assemblyName="Aruco.Net" processorArchitecture="X86" location="Packages\Aruco.Net.2.0.0\build\net45\bin\x86\v110\Aruco.Net.dll" />
    <AssemblyLocation assemblyName="Bonsai.Aruco" processorArchitecture="MSIL" location="Packages\Bonsai.Aruco.2.2.0\lib\net45\Bonsai.Aruco.dll" />
    <AssemblyLocation assemblyName="Bonsai.Aruco.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Aruco.Design.2.2.0\lib\net45\Bonsai.Aruco.Design.dll" />
    <AssemblyLocation assemblyName="BITalino" processorArchitecture="Amd64" location="Packages\Bitalino.Net.1.1.1\build\net45\bin\x64\BITalino.dll" />
    <AssemblyLocation assemblyName="BITalino" processorArchitecture="X86" location="Packages\Bitalino.Net.1.1.1\build\net45\bin\x86\BITalino.dll" />
    <AssemblyLocation assemblyName="Bonsai.Bitalino" processorArchitecture="MSIL" location="Packages\Bonsai.Bitalino.0.1.0\lib\net45\Bonsai.Bitalino.dll" />
    <AssemblyLocation assemblyName="Ode.Net" processorArchitecture="MSIL" location="Packages\Ode.Net.Double.0.1.3\lib\net45\Ode.Net.dll" />
    <AssemblyLocation assemblyName="Bonsai.Physics" processorArchitecture="MSIL" location="Packages\Bonsai.Physics.0.1.0\lib\net45\Bonsai.Physics.dll" />
    <AssemblyLocation assemblyName="Cmt.Net" processorArchitecture="Amd64" location="Packages\Cmt.Net.0.1.0\build\net45\bin\x64\v110\Cmt.Net.dll" />
    <AssemblyLocation assemblyName="Cmt.Net" processorArchitecture="X86" location="Packages\Cmt.Net.0.1.0\build\net45\bin\x86\v110\Cmt.Net.dll" />
    <AssemblyLocation assemblyName="Bonsai.Cmt" processorArchitecture="MSIL" location="Packages\Bonsai.Cmt.0.1.0\lib\net45\Bonsai.Cmt.dll" />
    <AssemblyLocation assemblyName="Bonsai.PhotonCounting" processorArchitecture="MSIL" location="Packages\Bonsai.PhotonCounting.0.3.0\lib\net45\Bonsai.PhotonCounting.dll" />
    <AssemblyLocation assemblyName="VimbaNET" processorArchitecture="Amd64" location="Packages\Bonsai.AlliedVision.1.0.5\build\net45\bin\x64\VimbaNET.dll" />
    <AssemblyLocation assemblyName="VimbaNET" processorArchitecture="X86" location="Packages\Bonsai.AlliedVision.1.0.5\build\net45\bin\x86\VimbaNET.dll" />
    <AssemblyLocation assemblyName="Bonsai.AlliedVision" processorArchitecture="MSIL" location="Packages\Bonsai.AlliedVision.1.0.5\lib\net45\Bonsai.AlliedVision.dll" />
    <AssemblyLocation assemblyName="Bonsai.System" processorArchitecture="MSIL" location="Packages\Bonsai.System.2.3.3\lib\net45\Bonsai.System.dll" />
    <AssemblyLocation assemblyName="SpinnakerNET_v140" processorArchitecture="Amd64" location="Packages\Bonsai.Spinnaker.0.3.0\build\net45\bin\x64\SpinnakerNET_v140.dll" />
    <AssemblyLocation assemblyName="SpinnakerNET_v140" processorArchitecture="X86" location="Packages\Bonsai.Spinnaker.0.3.0\build\net45\bin\x86\SpinnakerNET_v140.dll" />
    <AssemblyLocation assemblyName="Bonsai.Spinnaker" processorArchitecture="MSIL" location="Packages\Bonsai.Spinnaker.0.3.0\lib\net45\Bonsai.Spinnaker.dll" />
    <AssemblyLocation assemblyName="FlyCapture2Managed_v100" processorArchitecture="Amd64" location="Packages\Bonsai.PointGrey.2.2.0-ivo2\build\net45\bin\x64\FlyCapture2Managed_v100.dll" />
    <AssemblyLocation assemblyName="FlyCapture2Managed_v100" processorArchitecture="X86" location="Packages\Bonsai.PointGrey.2.2.0-ivo2\build\net45\bin\x86\FlyCapture2Managed_v100.dll" />
    <AssemblyLocation assemblyName="Bonsai.PointGrey" processorArchitecture="MSIL" location="Packages\Bonsai.PointGrey.2.2.0-ivo2\lib\net45\Bonsai.PointGrey.dll" />
    <AssemblyLocation assemblyName="Bonsai" processorArchitecture="MSIL" location="Packages\Bonsai.2.3.2\lib\net45\Bonsai.exe" />
    <AssemblyLocation assemblyName="Bonsai.Editor" processorArchitecture="MSIL" location="Packages\Bonsai.Editor.2.3.1\lib\net45\Bonsai.Editor.dll" />
  </AssemblyLocations>
  <LibraryFolders>
    <LibraryFolder path="Packages\openal.redist.2.0.7.0\build\native\bin\x64" platform="x64" />
    <LibraryFolder path="Packages\openal.redist.2.0.7.0\build\native\bin\x86" platform="x86" />
    <LibraryFolder path="Packages\OpenCV.Net.3.3.1\build\native\bin\x64\v110" platform="x64" />
    <LibraryFolder path="Packages\OpenCV.Net.3.3.1\build\native\bin\Win32\v110" platform="x86" />
    <LibraryFolder path="Packages\OpenCV.Net.3.3.1\build\native\bin\x64\v110\Release" platform="x64" />
    <LibraryFolder path="Packages\OpenCV.Net.3.3.1\build\native\bin\Win32\v110\Release" platform="x86" />
    <LibraryFolder path="Packages\Rhythm.Net.1.5.0\build\native\bin\x64" platform="x64" />
    <LibraryFolder path="Packages\Rhythm.Net.1.5.0\build\native\bin\x86" platform="x86" />
    <LibraryFolder path="Packages\RealSense.Net.0.2.0\build\native\bin\Win32" platform="x86" />
    <LibraryFolder path="Packages\RealSense.Net.0.2.0\build\native\bin\x64" platform="x64" />
    <LibraryFolder path="Packages\Bonsai.NeuroSeeker.1.0.6\build\native\bin\Win32" platform="x86" />
    <LibraryFolder path="Packages\Bonsai.Neuropix.0.1.0\build\native\bin\x86" platform="x86" />
    <LibraryFolder path="Packages\Bonsai.VR.0.5.0\build\native\bin\Win32" platform="x86" />
    <LibraryFolder path="Packages\Bonsai.VR.0.5.0\build\native\bin\x64" platform="x64" />
    <LibraryFolder path="Packages\Bonsai.CLEyeMulticam.2.2.0\build\native\bin\x86" platform="x86" />
    <LibraryFolder path="Packages\Aruco.Net.2.0.0\build\native\bin\Win32\v110" platform="x86" />
    <LibraryFolder path="Packages\Aruco.Net.2.0.0\build\native\bin\x64\v110" platform="x64" />
    <LibraryFolder path="Packages\Ode.Net.Double.0.1.3\build\native\bin\Win32\v110" platform="x86" />
    <LibraryFolder path="Packages\Ode.Net.Double.0.1.3\build\native\bin\x64\v110" platform="x64" />
    <LibraryFolder path="Packages\Bonsai.PhotonCounting.0.3.0\build\native\bin\x86" platform="x86" />
    <LibraryFolder path="Packages\Bonsai.PointGrey.2.2.0-ivo2\build\native\bin\x64" platform="x64" />
    <LibraryFolder path="Packages\Bonsai.PointGrey.2.2.0-ivo2\build\native\bin\x86" platform="x86" />
  </LibraryFolders>
</PackageConfiguration>