<?xml version="1.0" encoding="utf-8"?>
<TransportConfigurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <TransportConfiguration xsi:type="UdpConfiguration">
    <Name>calib_osc</Name>
    <Port>6667</Port>
    <RemoteHostName>localhost</RemoteHostName>
    <RemotePort>0</RemotePort>
  </TransportConfiguration>
</TransportConfigurationSettings>