<?xml version="1.0" encoding="utf-8"?>
<PackageConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Packages>
    <Package id="AForge" version="2.2.5" />
    <Package id="AForge.Video" version="2.2.5" />
    <Package id="AForge.Video.DirectShow" version="2.2.5" />
    <Package id="AssimpNet" version="4.1.0" />
    <Package id="Bonsai" version="2.6.3" />
    <Package id="Bonsai.Arduino" version="2.5.1" />
    <Package id="Bonsai.Audio" version="2.6.0" />
    <Package id="Bonsai.Bpod" version="0.1.0-ctp1" />
    <Package id="Bonsai.Core" version="2.6.2" />
    <Package id="Bonsai.DAQmx" version="0.1.0" />
    <Package id="Bonsai.Design" version="2.6.1" />
    <Package id="Bonsai.Design.Visualizers" version="2.6.2" />
    <Package id="Bonsai.Dsp" version="2.6.1" />
    <Package id="Bonsai.Dsp.Design" version="2.6.1" />
    <Package id="Bonsai.Editor" version="2.6.3" />
    <Package id="Bonsai.Ephys" version="2.5.0" />
    <Package id="Bonsai.Ephys.Design" version="2.5.0" />
    <Package id="Bonsai.Harp" version="3.3.0" />
    <Package id="Bonsai.Harp.CF" version="1.6.0" />
    <Package id="Bonsai.Numerics" version="0.6.0" />
    <Package id="Bonsai.Osc" version="2.6.1" />
    <Package id="Bonsai.Physics" version="0.2.0" />
    <Package id="Bonsai.Player" version="2.6.3" />
    <Package id="Bonsai.PointGrey" version="2.2.0-ivo2" />
    <Package id="Bonsai.Scripting" version="2.6.1" />
    <Package id="Bonsai.Shaders" version="0.25.0" />
    <Package id="Bonsai.Shaders.Design" version="0.25.0" />
    <Package id="Bonsai.Shaders.Rendering" version="0.2.1" />
    <Package id="Bonsai.Spinnaker" version="0.7.0" />
    <Package id="Bonsai.StarterPack" version="2.6.4" />
    <Package id="Bonsai.System" version="2.6.0" />
    <Package id="Bonsai.System.Design" version="2.6.1" />
    <Package id="Bonsai.Video" version="2.4.0" />
    <Package id="Bonsai.Video.Design" version="2.4.0" />
    <Package id="Bonsai.Vision" version="2.6.1" />
    <Package id="Bonsai.Vision.Design" version="2.6.1" />
    <Package id="Bonsai.VR" version="0.6.0" />
    <Package id="Bonsai.Windows.Input" version="2.6.0" />
    <Package id="BonVision" version="0.9.0" />
    <Package id="FTD2XX_NET" version="1.0.14" />
    <Package id="IronPython" version="2.7.5" />
    <Package id="IronPython.StdLib" version="2.7.5" />
    <Package id="jacobslusser.ScintillaNET" version="3.6.3" />
    <Package id="MathNet.Numerics" version="4.5.1" />
    <Package id="openal.redist" version="2.0.7" />
    <Package id="OpenCV.Net" version="3.3.1" />
    <Package id="OpenTK" version="3.1.0" />
    <Package id="OpenTK.GLControl" version="3.1.0" />
    <Package id="Rhythm.Net" version="1.5.0" />
    <Package id="Rx-Core" version="2.2.5" />
    <Package id="Rx-Interfaces" version="2.2.5" />
    <Package id="Rx-Linq" version="2.2.5" />
    <Package id="Rx-PlatformServices" version="2.2.5" />
    <Package id="SvgNet" version="2.0.1" />
    <Package id="System.Linq.Dynamic" version="1.0.7" />
    <Package id="ZedGraph" version="5.1.7" />
  </Packages>
  <AssemblyReferences>
    <AssemblyReference assemblyName="Bonsai" />
    <AssemblyReference assemblyName="Bonsai.Arduino" />
    <AssemblyReference assemblyName="Bonsai.Audio" />
    <AssemblyReference assemblyName="Bonsai.Bpod" />
    <AssemblyReference assemblyName="Bonsai.Core" />
    <AssemblyReference assemblyName="Bonsai.DAQmx" />
    <AssemblyReference assemblyName="Bonsai.Design" />
    <AssemblyReference assemblyName="Bonsai.Design.Visualizers" />
    <AssemblyReference assemblyName="Bonsai.Dsp" />
    <AssemblyReference assemblyName="Bonsai.Dsp.Design" />
    <AssemblyReference assemblyName="Bonsai.Editor" />
    <AssemblyReference assemblyName="Bonsai.Ephys" />
    <AssemblyReference assemblyName="Bonsai.Ephys.Design" />
    <AssemblyReference assemblyName="Bonsai.Harp" />
    <AssemblyReference assemblyName="Bonsai.Harp.CF" />
    <AssemblyReference assemblyName="Bonsai.Numerics" />
    <AssemblyReference assemblyName="Bonsai.Osc" />
    <AssemblyReference assemblyName="Bonsai.Physics" />
    <AssemblyReference assemblyName="Bonsai.Player" />
    <AssemblyReference assemblyName="Bonsai.PointGrey" />
    <AssemblyReference assemblyName="Bonsai.Scripting" />
    <AssemblyReference assemblyName="Bonsai.Shaders" />
    <AssemblyReference assemblyName="Bonsai.Shaders.Design" />
    <AssemblyReference assemblyName="Bonsai.Shaders.Rendering" />
    <AssemblyReference assemblyName="Bonsai.Spinnaker" />
    <AssemblyReference assemblyName="Bonsai.System" />
    <AssemblyReference assemblyName="Bonsai.System.Design" />
    <AssemblyReference assemblyName="Bonsai.Video" />
    <AssemblyReference assemblyName="Bonsai.Video.Design" />
    <AssemblyReference assemblyName="Bonsai.Vision" />
    <AssemblyReference assemblyName="Bonsai.Vision.Design" />
    <AssemblyReference assemblyName="Bonsai.VR" />
    <AssemblyReference assemblyName="Bonsai.Windows.Input" />
    <AssemblyReference assemblyName="BonVision" />
    <AssemblyReference assemblyName="NationalInstruments.Common" />
  </AssemblyReferences>
  <AssemblyLocations>
    <AssemblyLocation assemblyName="AForge" processorArchitecture="MSIL" location="Packages\AForge.2.2.5\lib\AForge.dll" />
    <AssemblyLocation assemblyName="AForge.Video" processorArchitecture="MSIL" location="Packages\AForge.Video.2.2.5\lib\AForge.Video.dll" />
    <AssemblyLocation assemblyName="AForge.Video.DirectShow" processorArchitecture="MSIL" location="Packages\AForge.Video.DirectShow.2.2.5\lib\AForge.Video.DirectShow.dll" />
    <AssemblyLocation assemblyName="AssimpNet" processorArchitecture="MSIL" location="Packages\AssimpNet.4.1.0\lib\net40\AssimpNet.dll" />
    <AssemblyLocation assemblyName="Bonsai" processorArchitecture="MSIL" location="Packages\Bonsai.2.6.3\lib\net472\Bonsai.exe" />
    <AssemblyLocation assemblyName="Bonsai.Arduino" processorArchitecture="MSIL" location="Packages\Bonsai.Arduino.2.5.1\lib\net462\Bonsai.Arduino.dll" />
    <AssemblyLocation assemblyName="Bonsai.Audio" processorArchitecture="MSIL" location="Packages\Bonsai.Audio.2.6.0\lib\net462\Bonsai.Audio.dll" />
    <AssemblyLocation assemblyName="Bonsai.Bpod" processorArchitecture="MSIL" location="Packages\Bonsai.Bpod.0.1.0-ctp1\lib\net45\Bonsai.Bpod.dll" />
    <AssemblyLocation assemblyName="Bonsai.Core" processorArchitecture="MSIL" location="Packages\Bonsai.Core.2.6.2\lib\net462\Bonsai.Core.dll" />
    <AssemblyLocation assemblyName="Bonsai.DAQmx" processorArchitecture="MSIL" location="Packages\Bonsai.DAQmx.0.1.0\lib\net45\Bonsai.DAQmx.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Design.2.6.1\lib\net462\Bonsai.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design.Visualizers" processorArchitecture="MSIL" location="Packages\Bonsai.Design.Visualizers.2.6.2\lib\net462\Bonsai.Design.Visualizers.dll" />
    <AssemblyLocation assemblyName="Bonsai.Dsp" processorArchitecture="MSIL" location="Packages\Bonsai.Dsp.2.6.1\lib\net462\Bonsai.Dsp.dll" />
    <AssemblyLocation assemblyName="Bonsai.Dsp.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Dsp.Design.2.6.1\lib\net462\Bonsai.Dsp.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Editor" processorArchitecture="MSIL" location="Packages\Bonsai.Editor.2.6.3\lib\net462\Bonsai.Editor.dll" />
    <AssemblyLocation assemblyName="Bonsai.Ephys" processorArchitecture="MSIL" location="Packages\Bonsai.Ephys.2.5.0\lib\net472\Bonsai.Ephys.dll" />
    <AssemblyLocation assemblyName="Bonsai.Ephys.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Ephys.Design.2.5.0\lib\net472\Bonsai.Ephys.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Harp" processorArchitecture="MSIL" location="Packages\Bonsai.Harp.3.3.0\lib\net462\Bonsai.Harp.dll" />
    <AssemblyLocation assemblyName="Bonsai.Harp.CF" processorArchitecture="MSIL" location="Packages\Bonsai.Harp.CF.1.6.0\lib\net45\Bonsai.Harp.CF.dll" />
    <AssemblyLocation assemblyName="Bonsai.Numerics" processorArchitecture="MSIL" location="Packages\Bonsai.Numerics.0.6.0\lib\net462\Bonsai.Numerics.dll" />
    <AssemblyLocation assemblyName="Bonsai.Osc" processorArchitecture="MSIL" location="Packages\Bonsai.Osc.2.6.1\lib\net462\Bonsai.Osc.dll" />
    <AssemblyLocation assemblyName="Bonsai.Physics" processorArchitecture="MSIL" location="Packages\Bonsai.Physics.0.2.0\lib\net45\Bonsai.Physics.dll" />
    <AssemblyLocation assemblyName="Bonsai.Player" processorArchitecture="MSIL" location="Packages\Bonsai.Player.2.6.3\lib\net472\Bonsai.Player.exe" />
    <AssemblyLocation assemblyName="Bonsai.PointGrey" processorArchitecture="MSIL" location="Packages\Bonsai.PointGrey.2.2.0-ivo2\lib\net45\Bonsai.PointGrey.dll" />
    <AssemblyLocation assemblyName="Bonsai.Scripting" processorArchitecture="MSIL" location="Packages\Bonsai.Scripting.2.6.1\lib\net462\Bonsai.Scripting.dll" />
    <AssemblyLocation assemblyName="Bonsai.Shaders" processorArchitecture="MSIL" location="Packages\Bonsai.Shaders.0.25.0\lib\net462\Bonsai.Shaders.dll" />
    <AssemblyLocation assemblyName="Bonsai.Shaders.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Shaders.Design.0.25.0\lib\net462\Bonsai.Shaders.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Shaders.Rendering" processorArchitecture="MSIL" location="Packages\Bonsai.Shaders.Rendering.0.2.1\lib\net462\Bonsai.Shaders.Rendering.dll" />
    <AssemblyLocation assemblyName="Bonsai.Spinnaker" processorArchitecture="MSIL" location="Packages\Bonsai.Spinnaker.0.7.0\lib\net462\Bonsai.Spinnaker.dll" />
    <AssemblyLocation assemblyName="Bonsai.System" processorArchitecture="MSIL" location="Packages\Bonsai.System.2.6.0\lib\net462\Bonsai.System.dll" />
    <AssemblyLocation assemblyName="Bonsai.System.Design" processorArchitecture="MSIL" location="Packages\Bonsai.System.Design.2.6.1\lib\net462\Bonsai.System.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Video" processorArchitecture="MSIL" location="Packages\Bonsai.Video.2.4.0\lib\net462\Bonsai.Video.dll" />
    <AssemblyLocation assemblyName="Bonsai.Video.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Video.Design.2.4.0\lib\net462\Bonsai.Video.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Vision" processorArchitecture="MSIL" location="Packages\Bonsai.Vision.2.6.1\lib\net462\Bonsai.Vision.dll" />
    <AssemblyLocation assemblyName="Bonsai.Vision.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Vision.Design.2.6.1\lib\net462\Bonsai.Vision.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.VR" processorArchitecture="MSIL" location="Packages\Bonsai.VR.0.6.0\lib\net45\Bonsai.VR.dll" />
    <AssemblyLocation assemblyName="Bonsai.Windows.Input" processorArchitecture="MSIL" location="Packages\Bonsai.Windows.Input.2.6.0\lib\net462\Bonsai.Windows.Input.dll" />
    <AssemblyLocation assemblyName="BonVision" processorArchitecture="MSIL" location="Packages\BonVision.0.9.0\lib\net462\BonVision.dll" />
    <AssemblyLocation assemblyName="FlyCapture2Managed_v100" processorArchitecture="X86" location="Packages\Bonsai.PointGrey.2.2.0-ivo2\build\net45\bin\x86\FlyCapture2Managed_v100.dll" />
    <AssemblyLocation assemblyName="FlyCapture2Managed_v100" processorArchitecture="Amd64" location="Packages\Bonsai.PointGrey.2.2.0-ivo2\build\net45\bin\x64\FlyCapture2Managed_v100.dll" />
    <AssemblyLocation assemblyName="FTD2XX_NET" processorArchitecture="MSIL" location="Packages\FTD2XX_NET.1.0.14\lib\net40\FTD2XX_NET.dll" />
    <AssemblyLocation assemblyName="IronPython" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\IronPython.dll" />
    <AssemblyLocation assemblyName="IronPython.Modules" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\IronPython.Modules.dll" />
    <AssemblyLocation assemblyName="IronPython.SQLite" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\IronPython.SQLite.dll" />
    <AssemblyLocation assemblyName="IronPython.Wpf" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\IronPython.Wpf.dll" />
    <AssemblyLocation assemblyName="libFrontPanel-csharp" processorArchitecture="MSIL" location="Packages\Rhythm.Net.1.5.0\lib\net40\libFrontPanel-csharp.dll" />
    <AssemblyLocation assemblyName="MathNet.Numerics" processorArchitecture="MSIL" location="Packages\MathNet.Numerics.4.5.1\lib\net461\MathNet.Numerics.dll" />
    <AssemblyLocation assemblyName="Microsoft.Dynamic" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\Microsoft.Dynamic.dll" />
    <AssemblyLocation assemblyName="Microsoft.Scripting" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\Microsoft.Scripting.dll" />
    <AssemblyLocation assemblyName="Microsoft.Scripting.AspNet" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\Microsoft.Scripting.AspNet.dll" />
    <AssemblyLocation assemblyName="Microsoft.Scripting.Core" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net35\Microsoft.Scripting.Core.dll" />
    <AssemblyLocation assemblyName="Microsoft.Scripting.Metadata" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\Microsoft.Scripting.Metadata.dll" />
    <AssemblyLocation assemblyName="NationalInstruments.Common" processorArchitecture="MSIL" location="Packages\Bonsai.DAQmx.0.1.0\lib\net45\NationalInstruments.Common.dll" />
    <AssemblyLocation assemblyName="NationalInstruments.DAQmx" processorArchitecture="X86" location="Packages\Bonsai.DAQmx.0.1.0\build\net45\bin\x86\NationalInstruments.DAQmx.dll" />
    <AssemblyLocation assemblyName="NationalInstruments.DAQmx" processorArchitecture="Amd64" location="Packages\Bonsai.DAQmx.0.1.0\build\net45\bin\x64\NationalInstruments.DAQmx.dll" />
    <AssemblyLocation assemblyName="OpenCV.Net" processorArchitecture="MSIL" location="Packages\OpenCV.Net.3.3.1\lib\net40\OpenCV.Net.dll" />
    <AssemblyLocation assemblyName="OpenTK" processorArchitecture="MSIL" location="Packages\OpenTK.3.1.0\lib\net20\OpenTK.dll" />
    <AssemblyLocation assemblyName="OpenTK.GLControl" processorArchitecture="MSIL" location="Packages\OpenTK.GLControl.3.1.0\lib\net20\OpenTK.GLControl.dll" />
    <AssemblyLocation assemblyName="Rhythm.Net" processorArchitecture="MSIL" location="Packages\Rhythm.Net.1.5.0\lib\net40\Rhythm.Net.dll" />
    <AssemblyLocation assemblyName="ScintillaNET" processorArchitecture="MSIL" location="Packages\jacobslusser.ScintillaNET.3.6.3\lib\net40\ScintillaNET.dll" />
    <AssemblyLocation assemblyName="SpinnakerNET_v140" processorArchitecture="X86" location="Packages\Bonsai.Spinnaker.0.7.0\build\net462\bin\x86\SpinnakerNET_v140.dll" />
    <AssemblyLocation assemblyName="SpinnakerNET_v140" processorArchitecture="Amd64" location="Packages\Bonsai.Spinnaker.0.7.0\build\net462\bin\x64\SpinnakerNET_v140.dll" />
    <AssemblyLocation assemblyName="SVG" processorArchitecture="MSIL" location="Packages\SvgNet.2.0.1\lib\net40\SVG.dll" />
    <AssemblyLocation assemblyName="System.Linq.Dynamic" processorArchitecture="MSIL" location="Packages\System.Linq.Dynamic.1.0.7\lib\net40\System.Linq.Dynamic.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Core" processorArchitecture="MSIL" location="Packages\Rx-Core.2.2.5\lib\net45\System.Reactive.Core.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Interfaces" processorArchitecture="MSIL" location="Packages\Rx-Interfaces.2.2.5\lib\net45\System.Reactive.Interfaces.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Linq" processorArchitecture="MSIL" location="Packages\Rx-Linq.2.2.5\lib\net45\System.Reactive.Linq.dll" />
    <AssemblyLocation assemblyName="System.Reactive.PlatformServices" processorArchitecture="MSIL" location="Packages\Rx-PlatformServices.2.2.5\lib\net45\System.Reactive.PlatformServices.dll" />
    <AssemblyLocation assemblyName="ZedGraph" processorArchitecture="MSIL" location="Packages\ZedGraph.5.1.7\lib\net35-Client\ZedGraph.dll" />
  </AssemblyLocations>
  <LibraryFolders>
    <LibraryFolder path="Packages\Bonsai.PointGrey.2.2.0-ivo2\build\native\bin\x64" platform="x64" />
    <LibraryFolder path="Packages\Bonsai.PointGrey.2.2.0-ivo2\build\native\bin\x86" platform="x86" />
    <LibraryFolder path="Packages\Bonsai.VR.0.6.0\build\native\bin\Win32" platform="x86" />
    <LibraryFolder path="Packages\Bonsai.VR.0.6.0\build\native\bin\x64" platform="x64" />
    <LibraryFolder path="Packages\openal.redist.2.0.7.0\build\native\bin\x64" platform="x64" />
    <LibraryFolder path="Packages\openal.redist.2.0.7.0\build\native\bin\x86" platform="x86" />
    <LibraryFolder path="Packages\OpenCV.Net.3.3.1\build\native\bin\Win32\v110" platform="x86" />
    <LibraryFolder path="Packages\OpenCV.Net.3.3.1\build\native\bin\Win32\v110\Release" platform="x86" />
    <LibraryFolder path="Packages\OpenCV.Net.3.3.1\build\native\bin\x64\v110" platform="x64" />
    <LibraryFolder path="Packages\OpenCV.Net.3.3.1\build\native\bin\x64\v110\Release" platform="x64" />
    <LibraryFolder path="Packages\Rhythm.Net.1.5.0\build\native\bin\x64" platform="x64" />
    <LibraryFolder path="Packages\Rhythm.Net.1.5.0\build\native\bin\x86" platform="x86" />
  </LibraryFolders>
</PackageConfiguration>