<?xml version="1.0" encoding="utf-8"?>
<TransportConfigurationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TransportConfiguration xsi:type="UdpConfiguration">
    <Name>from_python</Name>
    <Port>6667</Port>
    <RemoteHostName>localhost</RemoteHostName>
    <RemotePort>0</RemotePort>
  </TransportConfiguration>
  <TransportConfiguration xsi:type="UdpConfiguration">
    <Name>to_python</Name>
    <Port>6668</Port>
    <RemoteHostName>localhost</RemoteHostName>
    <RemotePort>6668</RemotePort>
  </TransportConfiguration>
</TransportConfigurationSettings>
