<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>On</VSync>
  <ClearColor>Black</ClearColor>
  <ClearMask>DepthBufferBit ColorBufferBit</ClearMask>
  <WindowState>Fullscreen</WindowState>
  <DisplayDevice>Second</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <RenderState />
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration xsi:type="Material">
      <Name>Gabor</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>shader\quad.vert</VertexShader>
      <FragmentShader>shader\gabor_onescreen.frag</FragmentShader>
    </ShaderConfiguration>
  </Shaders>
  <Textures />
  <Meshes>
    <MeshConfiguration xsi:type="TexturedQuad">
      <Name>FullscreenQuad</Name>
      <QuadEffects>None</QuadEffects>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>